<div class="container">
	
<legend>About TheHiredHive.com</legend>

	<div>
		TheHiredHive.com was created to connect univeristy students with the local residents of their community to meet the labor needs of both parties.
	</div>
	
		<h5>Beekeepers</h5>
		<div>
		Our platform makes it easy for Beekeepers to post ad hoc work and errands that need to be done without the worry and hassle of finding workers and setting prices. We charge a flat hourly rate of $25 per Worker Bee. You only pay when the work is completed to your satisfaction. The majority of the fee goes to the Worker Bee. We collect a small percentage to cover our operating costs and the rest goes into the Hired Hive Education Fund our Worker Bees are eligible to apply for our yearly grant to cover school costs such as tuition, books, and housing.
	</div>
	<h5>Worker Bees</h5>
	<div>
		Each student is screened and goes through our approval process before they are added to our swarm of workers. Once they've been approved, Worker Bees are eligible to work on job types they were approved for during the interview process. Worker Bees are given an opportunity to earn extra money to support themselves through school as well as being eligible for our Hired Hive Education Grant.
	</div>
	<br>
	<div>
		<button class="btn btn-large btn-info honey"><%= link_to "Join Today", new_user_registration_path %></button>
	</div>
	
</div>
<br>