// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
}

/* Jumbotron
-------------------------------------------------- */

.jumbotron {
  padding: 70px 0px 80px 0px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: url(/assets/honey_background.png) center;

}
.jumbotron h1 {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 40px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.honey {
	a {
  color: #ffd700;
  &:visited {
    color: #ffcc00;
  }
  &:hover {
    color: #fff;
    background-color: #ffd700;
  }
}
}

.red {
	color: #f00;
}